* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--black4text);
    font-family: 'Noto Sans', sans-serif;
    line-height: 28px;
}

:root {
    --pink: #FEE9E8;
    --light-purple: #CCB5D0;
    --black4text: #363636;
}

/* some universal styles */
#aboutme, #projects, #skills, #contact {
    padding: 3rem 5rem;
}

h1, h2 {
    font-family: 'Gabriela', serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}


.list {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black4text);
}

.text {
    margin: 1rem 0;
}

/* HEADER SECTION */

header {
    background-color: var(--light-purple);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
}

header img {
    max-width: 150px;
}

#menu {
    display: flex;
    column-gap: 30px;
}

#menu a:hover {
    font-weight: bold;
}

/* ABOUT ME */
#aboutme {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.pic {
    max-width: 30%;
}

#aboutme #text-aboutme {
    max-width: 600px;
}

/* PROJECTS SECTION */
#projects {
    background-color: var(--pink);
}

#projects ul, #projects p {
    max-width: 80%;
}

.project-title {
    display: flex;
    padding-bottom: .8rem;
    /* align-items: center;
    column-gap: -30px;  */
}

.project-title span {
    font-size: 1.5rem;
    font-family: 'Gabriela', serif;
    /* align-self: center; */
}

.arrow-icon {
    width: 50px;
}

.project-description {
    overflow: hidden;
    height: 0;
    padding-left: 5rem;
}

.pj-img {
    max-width: 80%;
    padding: 2rem 0;
}

/* SKILLS SECTION */
#skills .list {
    display: flex;
    margin: 1.5rem 0;
    gap: 0 20px;
}

.list .stack {
    max-width: 70px;
}

/* CONTACT ME */
#contact {
    background-color: var(--light-purple);
}

#contact .list {
    display: flex;
    margin: 1.5rem 0;
    gap: 0 20px
}


.list .social {
    max-width: 70px;
}

/* footer */

footer {
    font-size: .8rem;
    padding-left: 1rem;
}